.App {
  text-align: center;
  background: #001;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

div.bar-color-warm-up {
  background-color: #ba4312;
}

div.bar-color-rest {
  background-color: #3f51b5;
}

div.bar-color-low {
  background-color: #ffd335;
}

div.bar-color-high {
  background-color: #ff2538;
}

div.bar-color-cool-down {
  background-color: #3f51b5;
}
